* {box-sizing:border-box;
    text-align: center;
    font: normal 15px Verdana, Arial, sans-serif;
}


#formSection{
    display:none;
}

form{
 display:flex;
 flex-direction: column;
 width: 50%;
 max-height: 60%;
 margin: auto;
 background-color: lightslategray;
 border-radius: 5px;
 padding: 30px;
 margin-bottom: 15px;

}

input[type=submit]{
    padding: 10px;
    border-radius:5px;
    width: 45%;
    margin: 20px auto;
    background-color: rgb(11, 10, 10);
    color: aliceblue;

}

input[type=text], textarea {
    padding: 10px;
    border-radius:5px;
    width: 70%;
    margin: 5px auto;


}

/* STYLING post */

.post2 {
    background-color: lightgray;
    width: 40%;
    margin: auto;
    border-radius: 8px;
    text-align: center;
  }

.postTitle {
    padding: 5px 10px;
    background-color: black;
    border-radius: 8px;
    color: azure;
    text-decoration-line: underline;
    text-decoration-style: solid;
  }
  
  .postName {
    color: black
  }
  
  .postBody {
    font-style: italic;
    color: black;
    padding-bottom: 10px;
  }
  